@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Utilities */
@utility glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

@utility text-balance {
  text-wrap: balance;
}
